div(class="sidebar")
  div(class="sidebar-wrapper")
    div(class="logo-sidebar d-flex")
      img(src="/assets/images/balimore-mini-logo.jpg" alt="logo balimore" width="60" height="60" style="border-radius: 5px;")
      h4 Admin
        br 
        div MBF

    div(class="nav flex-column nav-pills menu-list")
      a(href="/office/msetting" class="nav-link screensaver active") 
        i 
          div(class="icon-sidebar icon-popup") 
        | Pengaturan
      a(href="/office/mpopup" class="nav-link screensaver ")
        i
          div(class="icon-sidebar icon-popup") 
        | Popup
      
      a(href="/office/mbranch" class="nav-link profil ")
        i
          div(class="icon-sidebar icon-cabang") 
        | Cabang
      
      a(href="/office/mcity" class="nav-link setting ")
        i
          div(class="icon-sidebar icon-kota") 
        | Kota
      
      a(href="/office/mdealer" class="nav-link setting ")
        i
          div(class="icon-sidebar icon-dealer") 
        | Dealer
      
      a(href="/office/mvehicle" class="nav-link setting ")
        i
          div(class="icon-sidebar icon-model-kendaraan") 
        | Model Kendaraan
      
      a(href="/office/mvehicletype" class="nav-link setting ")
        i
          div(class="icon-sidebar icon-type-kendaraan") 
        | Type Kendaaraan
        
      
      a(href="/office/mexistingmemberprospective" class="nav-link setting ")
        i
          div(class="icon-sidebar icon-prospective-member") 
        | Prospective Member
      
      a(href="/office/mbanner" class="nav-link setting ")
        i
          div(class="icon-sidebar icon-banner")
        |Banner
      a(href="/office/mhistoryclick" class="nav-link setting")
        i
          div(class="icon-sidebar icon-histori-klik-tenor") 
        | History Klik Tenor
      

  script(src="https://code.jquery.com/jquery-3.5.1.js")
  script(src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js")
  script(src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap5.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.6/dropzone.js" integrity="sha512-/diY7kiMCU8WBbgrhBMJjMDtrsJGPP2LQG4gaw9tHRYlQ50sJLhAQZH/MSpEPdQHcY0YXYfsosyjMArCDTa3SA==" crossorigin="anonymous")

  script(src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js")
  script(src="/assets/js/mainapp.js")
